extends layout

block content
  h1= title
  p Welcome to #{title}

  if error  
    p Error getting dynamic content

  else 
    p This merchant's inventory looks like:
      div 
        ul
          li Total number of weapons: #{data.weapon_count}
          li Number of armor pieces: #{data.armor_count}
          li Number of available gems: #{data.gem_count}
